
footer { 
    height: 10%;
    width: 100vw;
    background-color: #b1b2b3;
    border-radius: 5px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.footer-title {
    background-color: yellow;
    font-family: "museo";
    font-size: 2.5rem;
    font-weight: bold; 
    position: absolute;
}



